@import "./base/reset";
//@tailwind base;
@tailwind utilities;
@tailwind components;

.text-center {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.font-bold {
  font-weight: bold !important;
}

.cursor-pointer {
  cursor: pointer;
}